@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    /* background-color: #071952; */
    background: var(--off-white, #FFFF);
    font-family: 'Lexend Deca', sans-serif;
    overflow-x: hidden;
}

#home {
    /* background-image: url(./asset/images/home/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    height: 100vh;
}